@model List<Shipments.Models.SKUs>
@{
    Layout = "/Views/Shared/_ShipmentsLayout.cshtml";
    ViewBag.Title = "SKU";
}
@section _PageName{
    @ViewBag.Title
}
@using (Html.BeginForm("Filter", "SKU", FormMethod.Post, new { @id = "frmSKUIndex" }))
{
    <div class="row-fluid">
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 RemovePadding MarginTopBottom5px">
            <button id="btnNewBrands" class="btn btn-success" type="button" onclick="location.href='@Url.Content("~/SKU/Add")'">
                <i class="new-record"></i>New SKU</button>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-7 col-lg-7 RemovePadding MarginTopBottom5px">
            <div class="alert alert-danger alert-error">
                <a href="#" class="close" data-dismiss="alert">&times;</a> <strong>Error!</strong>
                A problem has been occurred while submitting your data.
            </div>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-4 col-lg-4 RemovePadding MarginTopBottom5px">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    More <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation" onclick="SubmitMe('/SKU/Download/?IsFiltered=false','frmSKUIndex')">
                        <a role="menuitem" tabindex="-1" href="#">Download All Records</a></li>
                    <li role="presentation" onclick="SubmitMe('/SKU/Download/?IsFiltered=true','frmSKUIndex')">
                        <a role="menuitem" tabindex="-1" href="#">Download Filtered Records</a></li>
                    <li role="presentation" onclick="OpenUploadModel('/SKU/Upload')"><a role="menuitem"
                        tabindex="-1" href="#">Upload</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 RemovePadding">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Brand
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtBrand" name="Brand" />
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                </div>
                            </th>
                            <th>
                                SKU
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtSKU" name="SKU" />
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                </div>
                            </th>
                            <th>
                                Price
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtPrice" name="Price" />
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                </div>
                            </th>
                            <th>
                                <button type="button" class="btn btn-primary btn-search-margin-top20" onclick="SubmitMe('/SKU/Filter/','frmSKUIndex')">
                                    <i class="glyphicon glyphicon-search"></i>Search</button>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbdForSearch">
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <td>@Model[i].Brand
                                </td>
                                <td>@Model[i].SKU
                                </td>
                                <td>@Model[i].Price
                                </td>
                                <td>
                                    <button onclick="return Edit(@Model[i].ID,'/SKU/EditSKU','/SKU/Edit');" class="btn btn-default" type="button">
                                        <i class="glyphicon glyphicon-pencil" style="margin-right: 0px !important"></i>
                                    </button>
                                    &nbsp;
                                    <button onclick="return Delete(@Model[i].ID,'/SKU/Delete','/SKU/index','SKU');" class="btn btn-default btn-red-delete" type="button">
                                        <i class="glyphicon glyphicon-trash" style="margin-right: 0px !important"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}